
# Created by https://www.toptal.com/developers/gitignore/api/fsharp
# Edit at https://www.toptal.com/developers/gitignore?templates=fsharp

# fake cache
.fake

# Benchmark logs
Benchmarks*.log
Benchmarks*.csv
Benchmarks*.html

# Paket dependency manager
paket-files/

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/

# End of https://www.toptal.com/developers/gitignore/api/fsharp
